body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0066ff, #0099ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    width: 400px; /* Set a fixed width for the container */
    text-align: center; /* Center align the text */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 15px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s;
}

input:focus {
    border-color: #0066ff; /* Change border color on focus */
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darken button on hover */
    transform: scale(1.02); /* Slightly enlarge button */
}

p {
    margin-top: 15px;
    font-size: 14px;
}

p a {
    color: #007BFF; /* Link color */
    text-decoration: none; /* Remove underline */
}

p a:hover {
    text-decoration: underline; /* Underline on hover */
}
